@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/big-john');


body
    margin: 0
    font-family: 'Poppins', sans-serif
    
.container
    width: 80%
    margin: auto


.row 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;

.white-font 
    color: white  

nav
    margin-left: 10%;
    margin-right: 10%
    position: fixed !important
    top: 0  
    display: flex
    height: 10%
    width: 80%
    align-items: center
    justify-content: space-between

    nav.scrolled 
        background-color: black !important;
        transition: background-color 200ms linear;

    .logo-section
        width: 20%
        .logo
            font-family: 'Big John', sans-serif;
            text-align: center
            font-size: 1.5 rem !important
            font-weight: 400
            text-decoration: none

    .right-section
        width: 20%
        display: flex
        justify-content: space-between
        align-items: center



#top-section
    background-image: url("../images/top-background.png")
    background-size: cover
    height: 100%
    width: 100%
    top: 0
    .liner-gradiant
        background: linear-gradient(132deg, rgba(131,56,159,.86) 0%, rgba(55,106,131,.86) 50%, rgba(75,75,205,.86) 100%)
        background-size: cover
        height: 100vh
        width: 100%
        // opacity: .86
        h1
            color: white
            font-family: 'Poppins', sans-serif
            font-weight: bold
            text-transform: uppercase
            font-size: 3rem
        .container
            display: grid
            align-items: center
            padding-left: 15px;
            padding-right: 15px;
            justify-content: space-between
            grid-template-columns: auto auto
            height: 100%
            margin-top: 0%
            margin-right: 10%
            margin-left: 10%
            width: 80% !important




#top-section-image
    position: absolute
    right: 0   
    top: 19%rem
    width: 41rem
    height: auto
    border: none
    display: none


.primary-button
    display: flex
    justify-content: space-around
    align-items: center
    text-align: center 
    color: white 
    font-size: 1.18rem
    background-color: rgba(255, 119, 176, 1)    
    opacity: 1
    border-radius: 0%
    font-family: 'Poppins', sans-serif
    border: 1px solid rgba(255, 119, 176, 1);


.description-section
    background-color: #131313;
    height: 132vh
    width: 100%
    .continer
        display: flex
        justify-content: space-between
        align-items: center
        margin: auto
        width: 80%
        height: 100vh
        .left-section
            width: 36.6rem
            height: 46.1rem
            border: 10% solid #131313
            background-image: #131313
        .right-section
            
            