@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");
@import url("http://fonts.cdnfonts.com/css/big-john");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap");
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  z-index: 10;
}

.container {
  width: 80%;
  margin: auto;
}

.row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.white-font {
  color: white;
  font-family: 'Poppins', sans-serif;
  line-height: 2;
}

.secondery-button {
  border: 1px solid #FF77B0;
  font-size: 1.18rem;
  background-color: #131313;
}

nav {
  position: absolute;
  margin-left: 10%;
  margin-right: 10%;
  position: fixed !important;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 10%;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 10;
}

nav .logo-section {
  width: 20%;
}

nav .logo-section .logo {
  font-family: 'Big John', sans-serif;
  text-align: center;
  font-size: 1.5 rem !important;
  font-weight: 400;
  text-decoration: none;
}

nav .right-section {
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-conten: center !important;
}

h1 {
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 3rem;
}

.numbers {
  color: #DA69A3;
  font-family: 'Rubik', sans-serif;
  font-size: 4.1rem;
}

#top-section {
  z-index: 3;
  overflow: hidden;
  background-image: url("../images/top-background.png");
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 3;
}

#top-section .liner-gradiant {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: linear-gradient(132deg, rgba(131, 56, 159, 0.86) 0%, rgba(55, 106, 131, 0.86) 50%, rgba(75, 75, 205, 0.86) 100%);
  background-size: cover;
  height: 100vh;
  width: 100%;
}

#top-section .liner-gradiant .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  height: 100%;
  margin-top: 0%;
  margin-right: 10%;
  margin-left: 10%;
  width: 80% !important;
  overflow: hidden;
  z-index: 3;
}

#top-section-image {
  position: absolute;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  right: -3rem;
  width: 41rem;
  height: 41rem;
  border: none;
  z-index: 2;
}

.primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: white;
  font-size: 1.18rem;
  background-color: #ff77b0;
  opacity: 1;
  border-radius: 0%;
  font-family: 'Poppins', sans-serif;
  border: 1px solid #ff77b0;
}

.description-section {
  z-index: 3;
  background-color: #131313;
  height: 132vh;
  width: 100%;
}

.description-section .continer {
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin-left: 10%;
  width: 90%;
  height: 132vh;
  overflow: hidden;
}

.description-section .continer .left-section {
  z-index: 3;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 29.28rem;
  height: 36.88rem;
  background-image: #131313;
  border: 10% solid #131313;
}

.description-section .continer .left-section .statistics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 5%;
}

.description-section .continer .description-section-images {
  z-index: 2;
  width: 50rem;
  height: 56rem;
  right: -11rem;
  overflow: hidden;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
}

.description-section .continer #big-ring {
  position: absolute;
  z-index: 1;
  display: none;
}

.slider-section {
  width: 100%;
  height: 100rem !important;
  background-color: #FFFFFF;
}

.slider-section .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  margin: auto;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  justify-content: center;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  height: 90%;
}

.slider-section .container .slider-section-header h1 {
  text-align: center;
  color: black;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .topnav .right-section > a:not(:last-child) {
    display: none;
  }
  .topnav .right-section > a:last-child {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 900px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.right-section.responsive #nva-menu-icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.right-section.responsive a:not(:last-child) {
    float: none;
    display: block;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */