@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import url('http://fonts.cdnfonts.com/css/big-john');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');


body
    margin: 0
    font-family: 'Poppins', sans-serif
    
.container
    width: 80%
    margin: auto


.row 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;

.white-font 
    color: white  
    font-family: 'Poppins', sans-serif
    line-height: 2

.secondery-button
    border: 1px solid #FF77B0
    font-size: 1.18rem
    background-color: #131313



nav
    margin-left: 10%;
    margin-right: 10%
    position: fixed !important
    top: 0  
    display: flex
    height: 10%
    width: 80%
    align-items: center
    justify-content: space-between

    .logo-section
        width: 20%
        .logo
            font-family: 'Big John', sans-serif;
            text-align: center
            font-size: 1.5 rem !important
            font-weight: 400
            text-decoration: none

    .right-section
        width: 20%
        display: flex
        justify-content: space-between
        align-conten: center !important
        #nva-menu-icon
            // display: none

h1
    color: white
    font-family: 'Poppins', sans-serif
    font-weight: bold
    text-transform: uppercase
    font-size: 3rem

.numbers
    color: #DA69A3
    font-family: 
    font-family: 'Rubik', sans-serif; 
    font-size: 4.1rem




#top-section
    overflow: hidden
    background-image: url("../images/top-background.png")
    background-size: cover
    height: 100%
    width: 100%
    top: 0
    .liner-gradiant
        background: linear-gradient(132deg, rgba(131,56,159,.86) 0%, rgba(55,106,131,.86) 50%, rgba(75,75,205,.86) 100%)
        background-size: cover
        height: 100vh
        width: 100%
        // opacity: .86
        
        .container
            display: flex
            align-items: center
            flex-wrap: wrap
            padding-left: 15px;
            padding-right: 15px;
            justify-content: space-between
            grid-template-columns: auto auto
            height: 100%
            margin-top: 0%
            margin-right: 10%
            margin-left: 10%
            width: 80% !important
            overflow: hidden


#top-section-image
    position: absolute
    overflow: hidden
    right: -3rem
    padding-left: 3rem 
    top: 19%
    width: 41rem
    height: 41rem
    border: none
    // display: none


.primary-button
    display: flex
    justify-content: space-around
    align-items: center
    text-align: center 
    color: white 
    font-size: 1.18rem
    background-color: rgba(255, 119, 176, 1)    
    opacity: 1
    border-radius: 0%
    font-family: 'Poppins', sans-serif
    border: 1px solid rgba(255, 119, 176, 1);


.description-section
    background-color: #131313;
    height: 132vh
    width: 100%
    .continer
        display: flex
        flex-wrap: wrap
        justify-content: space-between
        // align-items: center
        // align-content: center
        margin-left: 10%
        width: 80%
        height: 132vh
        .left-section
            margin-top: 10%     
            width: 29.28rem
            height: 36.88rem
            background-image: #131313
            border: 10% solid #131313
            .statistics
                display: flex
                flex-wrap: wrap
                justify-content: space-between
                align-items: center
                margin-top: 5%

        .right-section
            // display: none
            overflow: hidden
            width: 63rem
            height: 39rem
            margin-top: 5%
            .description-section-images
                position: absolute
                right: -15rem
                overflow: hidden


@media screen and (max-width: 900px) 
    .topnav .right-section > a:not(:last-child)
        display: none
    .topnav .right-section > a:last-child
        float: right
        display: block



@media screen and (max-width: 900px) 
    .topnav.responsive 
        position: relative  
    .topnav.right-section.responsive #nva-menu-icon 
        position: absolute
        right: 0
        top: 0
    .topnav.right-section.responsive a:not(:last-child)
        float: none
        display: block
        text-align: left

  